# Ignore Python compiled files
*.pyc
__pycache__/

# Ignore TensorBoard files
tensorboard/

# Ignore images for debugging purpose
debug_imgs/

# Log files
*.log

# Model weights
*.pth

# Ignore .npy, .csv files
*.npy
*.csv

# Ignore data folder except .sh and .py files
dataset/*
!dataset/*.sh
!dataset/*.py

# Ignore txt files in logs directory
logs/
logs/*.txt

# Ignore rodeo feature files
*.h5

# Ignore everyting in logs_backup directory
logs_backup/*
